<div class = "jumbotron">
<div class= "container">

<h1>About Us</h1>
<p> The Ottumwa Veterinary Clinic has a rich history.  Please browse the timeline below to see some of the companies highlights.     </p>
</div>
</div>

<iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AuJSLqCslgEUdHl0bDN6eVItVUpwdnMtdVhGU1JfOHc&font=Helvetica-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>

<div class="well">
<address>
  <strong>Ottumwa Veterinary Clinic</strong><br>
  2305 North Court<br>
  Ottumwa, IA 52501<br>
  <abbr title="Phone">P:</abbr> (641) 682-2291
  <abbr title="Fax">F:</abbr> (641) 682-2291
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">information@ottumwavet.com</a>
</address>

</div>