<div class = "jumbotron">
<div class= "container">

<h1>Health Information</h1>
<p> Below is a list of common health conditions in pets.  We've inclueded some basic informtion for each condition.  Please call if you have any questions. </p>
</div>
</div>
<div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
  <li class="active"><a href="#">Arthritis</a></li>
  <li><a href="#DentalDisease">Dental Disease</a></li>
  <li><a href="#HeartwormDisease">Heartworm Disease</a></li>
   <li><a href="#Fleas">Fleas</a></li>
  <li><a href="#HomeAgain">Home again</a></li>
   <li><a href="#Otits">Otits</a></li>
  <li><a href="#Estrus">Estrus (heat) in Cats</a></li>
   <li><a href="#FelineLeukemia">Feline Leukemia</a></li>
</ul>
</div>
</div>





<div id="content" class="span9">

            <h4 id="arthritis">Arthritis</h4>  
            <p>Arthritis is inflammation of a joint. It can occur in any joint, including the spine and jaw. Signs of arthritis include painful or stiff joint movement, joint swelling and a grating sensation during joint movement. Arthritis can also cause fever and redness of the skin over the joint.        
            </p> 
            <p>Causes of arthritis include degeneration from aging, inherited arthritis, infection, injury, blood diseases, allergic or immune-mediated disease and cancer.
      
            </p> 
            <p>Radiographs (x-rays) and laboratory tests are necessary to determine the type and extent of the arthritis. Follow-up examinations during treatment may be necessary to evaluate the response to therapy.    
            </p> 
            <p>Arthritis is generally controllable rather than curable. Therapy is designed to minimize discomfort and delay or prevent the progression of disease.   
            </p> 

    <div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://www.ottumwavet.com/images/hip.jpg" alt="hip">Canine hip with arthritis
  </a> 
  <div class="media-body">
    <div class="list-group">
  <a href="#" class="list-group-item active">
    Signs and Symptoms of Arthritis
  </a>
  <a  class="list-group-item">Reluctance to climb stairs</a>
  <a  class="list-group-item">Swollen or warm joints</a>
  <a  class="list-group-item">Favoring of a specific limb</a>
  <a  class="list-group-item">Difficulty rising from a prone positions</a>
</div>
  </div>
</div>
<h4 id="DentalDisease">Dental Disease</h4>  
            <p>Periodontal (gum) disease is a common condition affecting both dogs and cats. The problem begins when plaque and tartar are allowed to accumulate on your pet's teeth. Besides the negative impact on the oral cavity, periodontal disease can lead to serious heart, liver, and kidney diseases as well. Have your pet's teeth checked by your veterinarian if any of the following signs or symptoms should occur:    
            </p> 

    <div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://www.ottumwavet.com/images/dental1.jpg" alt="hip" class="img-thumbnail">Good Dental Health
  </a> 
  <a class="pull-left" href="#">
    <img class="media-object" src="http://www.ottumwavet.com/images/dental2.jpg" alt="hip"class="img-thumbnail"Poor Dental Health
  </a> 
  <div class="media-body">
    <div class="list-group">
  <a href="#" class="list-group-item active">
    Signs and Symptoms of Dental Disease
  </a>
  <a  class="list-group-item">Persistent bad breath</a>
  <a  class="list-group-item">Sensitivity around mouth</a>
  <a  class="list-group-item">Pawing at the face</a>
  <a  class="list-group-item">Bleeding from the gums</a>
  <a  class="list-group-item">Visible tartar on the teeth</a>
  <a  class="list-group-item">Loss of appetite</a>
  <a  class="list-group-item">Difficulty chewing food</a>
</div>
  </div>
</div>

<h4 id="HeartwormDisease">Heartworm Disease</h4>  
            <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 

            <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 
            <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 
            <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 
<h4 id="Fleas">Fleas</h4>  
            <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 

<h4 id="HomeAgain">Home Again</h4>  
            <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 
<h4 id="Otits">Otits</h4>  
            <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 

              <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 


              <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 

              <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 

              <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 

              <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 

              <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 
<h4 id="Estrus">Estrus</h4>  
            <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 

<h4 id="FelineLeukemia">Feline Leukemia</h4>  
            <p>PHP, an acronym for Hypertext Preprocessor, is a widely-used open source general-purpose scripting language.   
  
It is an HTML embedded scripting language and is especially suited for web development. The basic syntax of PHP is similar to   
  
C, Java, and Perl, and is easy to learn. PHP is used for creating interactive and dynamic web pages quickly, but you can do   
  
much more with PHP.        
            </p> 

            
            </div>
            </div>




       