<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#">Arthritis</a></li>
  <li><a href="#">Dental Disease</a></li>
  <li><a href="#">Heartworm Disease</a></li>
   <li><a href="#">Fleas</a></li>
  <li><a href="#">Home again</a></li>
   <li><a href="#">Otits</a></li>
  <li><a href="#">Estrus(heat) in Cats</a></li>
   <li><a href="#">Feline Leukemia</a></li>
</ul>