<div class = "jumbotron">

<h1>Welcome!</h1>
<p> At Ottumwa Veterinary Clinic we understand that your pet is a member of your family. Our primary concern is to provide our clients with the compassionate, cost effective, quality care their companions deserve. </p>
</div>



 <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-plus"></span> Emergency Services</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">24 Hour Emergency Services - (641) 682-2291 </h4>
        </div>
        <div class="modal-body">
          Ottumwa Veterinary Clinic maintains 24-hour emergency services to deal with crises in your animal's health. Phone the clinic immediately if a severe situation, or one in which you have serious doubt, should arise. If this is during regular office hours, your call will alert the staff to prepare for necessary care. After regular hours, the answering service will page the doctor, who will promptly return your call. At that point, the best course of action can be determined.

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->