

<div class = "jumbotron">




        
        <h2>Welcome!</h2>
        <p>At Ottumwa Veterinary Clinic we understand that your pet is a member of your family. Our primary concern is to provide our clients with the compassionate, cost effective, quality care their companions deserve.</p>
        
        
      

      
        
<div class= "container">
  <h4> Services: </h4>

 <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-danger"><span class="glyphicon glyphicon-plus"></span> Emergency Services:</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">24 Hour Emergency Services - (641) 682-2291 </h4>
        </div>
        <div class="modal-body">
          Ottumwa Veterinary Clinic maintains 24-hour emergency services to deal with crises in your animal's health. Phone the clinic immediately if a severe situation, or one in which you have serious doubt, should arise. If this is during regular office hours, your call will alert the staff to prepare for necessary care. After regular hours, the answering service will page the doctor, who will promptly return your call. At that point, the best course of action can be determined.

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal2" class="btn btn-primary "><span class="glyphicon glyphicon-home"></span> Boarding</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Boarding </h4>
        </div>
        <div class="modal-body">
          <p> Ottumwa Veterinary Clinic offers veterinarian supervised boarding services for quality assured care when you need to be away from your pet.</p>

			<p>The boarding service features towel service for every pet, indoor runs, epoxy kennels for the cleanest possible environment and all-weather outdoor exercise runs. Kennel size and run accommodations are available on request.</p>

			<p>A courtesy bath is provided for all animals that board for three consecutive days or more.</p>

			<p>Hill's Science Diets and Prescription Diets are fed while your animal is boarding. If your animal must be fed something else please feel free to bring it along.</p>

			<p>Any animal boarding must be current for rabies, unless health problems prohibit this. Dogs must be vaccinated for Bordatella (Kennel Cough) as well. If they are not current we will vaccinate them upon arrival. It is strongly recommended that all dogs are vaccinated for Distemper, Parvo, and Corona. It is also required that cats are vaccinated for PCT (a three way panleukopenia, calicivirus, and rhinotracheitis vaccine for respiratory disease).</p>



			<p>All animals should be free of external parasites upon arrival. Those that are not will be treated accordingly.

			Weekend pick up and drop off are available</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal3" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Grooming</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Grooming </h4>
        </div>
        <div class="modal-body">
        <p>
          We provide a complete grooming service, which is inspected and licensed by the Iowa Department of Agriculture.  
Our professional groomer, Chris Glosser, has been grooming at the Ottumwa Veterinary Clinic for 20 years. Please call Chris and discuss your grooming needs today.
Routine groom includes:


			</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Preventative Medicine</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Preventative medicine </h4>
        </div>
        <div class="modal-body">
          The first step in ensuring your pet's wellness is a solid preventative health plan. Our veterinarians will develop a vaccination and preventative health plan that fits your pet's specific needs.

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal2" class="btn btn-primary "><span class="glyphicon glyphicon-credit-card"></span> Fees</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Boarding </h4>
        </div>
        <div class="modal-body">
          <p> No one likes a surprise when it comes to money, so we will gladly
prepare and discuss a written estimate for any services your pet needs.
Payment is due at the time services are rendered.
We accept cash, personal checks, VISA, MasterCard, Discover, and CareCredit.</p>

      <p>The boarding service features towel service for every pet, indoor runs, epoxy kennels for the cleanest possible environment and all-weather outdoor exercise runs. Kennel size and run accommodations are available on request.</p>

      <p>CareCredit provides financing for services with
extended payment and "Same as Cash" options available.</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal3" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Medicine</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Medicine </h4>
        </div>
        <div class="modal-body">
        <p>
          On occasion your pet will become ill. We believe that a diagnostic, rather than a symptomatic approach will provide the best care for your animal. A combination of in house and out of house testing combined with our clinical experience will help your pet through their illness.
      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal4" class="btn btn-primary "><span class="glyphicon glyphicon-plus"></span> Surgery</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Surgery</h4>
        </div>
        <div class="modal-body">
        <p>
          We have a fully equipped surgical suite to handle most of your pets soft tissue and orthopedic needs. We routinely use Isoflurane gas anesthesia to provide the safest anesthetic protocols for your pet

      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal5" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> Dentistry</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Dentistry </h4>
        </div>
        <div class="modal-body">
        <p>
          
Approximately 85% of pets need dental care.  Tartar accumulates on teeth and can lead to gingivitis and periodontal disease.  When these diseases progress, pets can suffer from loss of teeth, serious bone infections, weight loss, and even cardiac complications.  Our doctors have advanced training in managing your pet’s dental disease to promote a long and happy life.      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal6" class="btn btn-primary "><span class="glyphicon glyphicon-plus"></span>Laboratory</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Laboratory </h4>
        </div>
        <div class="modal-body">
          Our in house and local laboratories allow us to quickly access additional information about your pet’s health status.  We also have access to excellent specialty labs when advanced testing is indicated.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal7" class="btn btn-primary "><span class="glyphicon glyphicon-home"></span> Pharmacy</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Pharmacy </h4>
        </div>
        <div class="modal-body">
          <p> Our pharmacy is fully stocked for your pets medical needs. This means that your pets recovery will not be delayed while waiting on medicines to arrive in the mail.</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal8" class="btn btn-primary "><span class="glyphicon glyphicon-eye-open"></span> Nutrition Counseling
</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Nutrition Counseling
</h4>
        </div>
        <div class="modal-body">
        <p>
          We stock a variety of special diets for your pet, including Hill's Prescription Diets and Purina DM.  We are able to order any diet your pet may need and even have it directly shipped to your home for your convenience.  Our staff and doctors can discuss which diet is best for your pet.
      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal9" class="btn btn-primary "><span class="glyphicon glyphicon-plus"></span> Home Again Microchipping</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Home Again Microchipping</h4>
        </div>
        <div class="modal-body">
        <p>
          Protect your pet from theft or loss with the HomeAgain Microchip Identification System. Thousands of pets are lost each year due to a lack of permanent, unalterable identification. Ask us about having your pet permanently identified at our clinic today.”

      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal10" class="btn btn-primary "><span class="glyphicon glyphicon-eye-open"></span> Hospice and Euthanasia</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Hospice and Euthanasia</h4>
        </div>
        <div class="modal-body">
        <p>
          
We understand the difficult decisions that must be faced when pets near their end of life.  We are here to discuss ways of keeping your pet comfortable and assist you in the decision making process.  We do offer mass and private cremation services to meet your needs.
      </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

 


  </div>