<div class = "jumbotron">

<h1>Welcome!</h1>
<p> At Ottumwa Veterinary Clinic we understand that your pet is a member of your family. Our primary concern is to provide our clients with the compassionate, cost effective, quality care their companions deserve. </p>
</div>



 <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-plus"></span> Emergency Services</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">24 Hour Emergency Services - (641) 682-2291 </h4>
        </div>
        <div class="modal-body">
          Ottumwa Veterinary Clinic maintains 24-hour emergency services to deal with crises in your animal's health. Phone the clinic immediately if a severe situation, or one in which you have serious doubt, should arise. If this is during regular office hours, your call will alert the staff to prepare for necessary care. After regular hours, the answering service will page the doctor, who will promptly return your call. At that point, the best course of action can be determined.

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-home"></span> Boarding</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Boarding </h4>
        </div>
        <div class="modal-body">
          Ottumwa Veterinary Clinic offers veterinarian supervised boarding services for quality assured care when you need to be away from your pet.

			The boarding service features towel service for every pet, indoor runs, epoxy kennels for the cleanest possible environment and all-weather outdoor exercise runs. Kennel size and run accommodations are available on request.

			A courtesy bath is provided for all animals that board for three consecutive days or more.

			Hill's Science Diets and Prescription Diets are fed while your animal is boarding. If your animal must be fed something else please feel free to bring it along.

			Any animal boarding must be current for rabies, unless health problems prohibit this. Dogs must be vaccinated for Bordatella (Kennel Cough) as well. If they are not current we will vaccinate them upon arrival. It is strongly recommended that all dogs are vaccinated for Distemper, Parvo, and Corona. It is also required that cats are vaccinated for PCT (a three way panleukopenia, calicivirus, and rhinotracheitis vaccine for respiratory disease).



			All animals should be free of external parasites upon arrival. Those that are not will be treated accordingly.

			Weekend pick up and drop off are available

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal3" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-eye-open"></span> Grooming</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Grooming </h4>
        </div>
        <div class="modal-body">
        <p>
          We provide a complete grooming service, which is inspected and licensed by the Iowa Department of Agriculture.	
Our professional groomer, Chris Glosser, has been grooming at the Ottumwa Veterinary Clinic for 20 years. Please call Chris and discuss your grooming needs today.
Routine groom includes:
A four paw pedicure
A refreshing bath with a variety of medicated shampoos are available for use if your pets skin condition requires them
A blow drying
A trim, styling, and comb out (or complete shave off)
A spritz of pet cologne
If you desire' bows can be placed on the ears or toe nails can be painted
			</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->