
<div class = "jumbotron">
<div class= "container">

<h1>Links</h1>
<p> Below is a list of useful links to other resources on the internet pets. </p>
</div>
</div>
<div class="list-group">
 
  </a>

  <a href="http://virbacpets.com/" class="list-group-item">
  <h4 class="list-group-item-heading">Virbacpets</h4>
  Manufacturer of Iverhart Max®, a heartworm prevetative that we recommend.  Visit this site for information on Heartworm disease and other animal health related topics</a>
  <a href="http://www.veterinarypartner.com/" class="list-group-item">
  <h4 class="list-group-item-heading">Veterinary Partner</h4>
  A website with up-to-date, reliable information regarding a variety of animal health topics.  A good source for information on behavior problems and specific health problems.</a>

  <a href="http://www.petsandparasites.org/" class="list-group-item">
   <h4 class="list-group-item-heading">Pets and Parasites</h4>
   The website of the Companion Animal Parasite Council (CAPC).  CAPC is a non-profit organization of veterinarians and parasitologists dedicated to protecting your family and your pets from parasites and zoonotic disease.</a>
  <a href="http://www.elanco.com/products-services/pets/default.aspx" class="list-group-item">
   <h4 class="list-group-item-heading">Elancopet</h4>
   Manufacturer of Comfortis®,  a flea control product that we recommend.  Visit this website for information on Comfortis® and other animal health products.</a>
  <a href="http://www.hillspet.com/" class="list-group-item">
<h4 class="list-group-item-heading">Hills Pet</h4>
  Visit this website for information on Hills Science Diet Dog and Cat Foods.</a>
  <a href="http://www.carecredit.com/" class="list-group-item">
<h4 class="list-group-item-heading">Care Credit</h4>
  Visit this website if you want to apply for care credit financing.</a>
  <a href="http://csu-cvmbs.colostate.edu/vth/diagnostic-and-support/argus/Pages/default.aspx" class="list-group-item">
<h4 class="list-group-item-heading">Argus Institute</h4>
  A good resource for pet owners making end of life decisions.  Also a good resource for clients that are grieving the loss of a pet.</a>
  <a href="http://www.vectrapet.com/" class="list-group-item">
<h4 class="list-group-item-heading">Vectra</h4>
  Manufacturer of Vectra® and Vectra 3D®,  a flea control product that we recommend.  Visit this site to find out more information on these products.</a>
</div>


 
