<div class = "jumbotron">
	<div class= "container">
  <div id="da-slider" class="da-slider">
<div class="da-slide">
		<h1>Staff</h1>
		<p> At Ottumwa Veterinary Clinic the staff make the difference.  With a combined 1000 years experience! </p>
    </div>
    </div>
	</div>
</div>

<div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
            
   <li class="active"><a href="#SteveMenke"><i class="icon-user-md"></i>      Dr. Steve Menke</a></li>
	  <li><a href="#ToddWilliams"><i class="icon-user-md"></i>       Dr. Todd E. Williams</a></li>
	  <li><a href="#LoriHickie"><i class="icon-user-md"></i>       Dr. Leah I. Thies</a></li>
	   <li><a href="#EmilyMcDowell"><i class="icon-user-md"></i>       Dr. Emily J. McDowell</a></li>
	   
  <li><a href="#JudyAmos"><i class="icon-user"></i>       Judy Amos</a></li>
	   <li><a href="#JoyceFairchild"><i class="icon-user"></i>       Joyce Fairchild</a></li>
	  <li><a href="#ChrisGlosser"><i class="icon-user"></i>        Chris Glosser</a></li>
	   <li><a href="#TracyJones"><i class="icon-user"></i>       Tracy Jones</a></li>
	   <li><a href="#Nancy Rutledge"><i class="icon-user"></i>       Nancy Rutledge</a></li>
	   <li><a href="#KyleJameson"><i class="icon-user"></i>        Kyle Jameson</a></li>
</ul>
</div>
</div>



<div id="content" class="span9">
  <div class="panel panel-default">
    <div class="panel-heading">
		<h3 class="panel-title">Dr. Steve Menke</h3>
		</div>
			<div class="panel-body">
				<div class="media">
  				<a class="pull-left" href="#SteveMenke"> <img src="http://www.ottumwavet.com/images/steveSmall.jpg" alt="Steve" class="img-rounded"></a> 
  			
					<div class="media body">
            <p>	Dr. Steve B. Menke received his D.V.M. in 1976 from Iowa State University. Upon graduation, Dr. Menke went into private practice in Richland,Iowa.  As this practice continued to grow, the caseload in all species provided him with valuable clinical experience. In 1978, Dr. Menke was instrumental in the Veterinary Economics Hospital of the Month award that his practice received. In 1985, Dr. Menke began the development of Ottumwa Veterinary clinic. His goal has been to establish a facility and organize a highly trained staff to meet the total veterinary needs of the community.</p>

            <p>	In 1995 Dr. Menke completed a two year course of study in Swine Health Management when he was named co-valedictorian of the Executive Veterinary Program at the University of Illinois, Urbana - Champaign.</p>

            <p>	In October 2001, Dr. Menke was the recipient of the William P. Switzer Award in Veterinary Medicine. This award presented by Iowa State University recognizes outstanding contributions to society and veterinary medicine.  
            </p> 

            <p>	Steve’s wife Nancy is associated with Coldwell Banker Prestige Midwest Realtors. Steve and Nancy are the parents of Michael Ackely, the golf professional at Fox Ridge Golf Club in Dike, Iowa and Christopher Steven, in San Diego
            </p> 
  </div>
     </div>
        </div>
           </div>

            

            <h4 id="Todd"></h4> 

            <div class="panel panel-default">
            <div class="panel-heading">
<h3 class="panel-title">Dr. Todd E. Williams</h3>
</div>
<div class="panel-body">
<div class="media">
  




<a class="pull-left" href="#SteveMenke"> <img src="http://www.ottumwavet.com/images/toddSmall.jpg" alt="Todd" class="img-rounded"></a> 



<div class="media body">


            <p>	Dr Todd E. Williams Received his D.V.M. in 2002 from Iowa State University. Todd also received a minor in Entrepreneurial Studies in 2002 and a bachelor’s degree in Animal Science from Iowa State University in 1998. He is a 2009 graduate of the University of Illinois Executive Veterinary Program in Swine Health Management.




            </p> 
            <p>	To many of you, Todd may be a familiar face. Todd has been a member of the staff of Ottumwa Veterinary Clinic since he began as an animal caretaker in 1989. Since that time, he has continued working as a member of the staff throughout his high school years and many of his college breaks.
    
            </p> 
            <p>	Todd has interest in canine and feline medicine and surgery as well as swine production medicine. He has an excellent educational background to support these interests. Todd received numerous awards while in vet school including the John and Mary Pappajohn Entrepreneur Scholarship, Dr. Harvey Price and Corinne Price Scholarship for the Study of Veterinary Medicine, and the Iowa Veterinary Medical Association Foundation Scholarship.  
            </p> 

            <p>	Todd and his wife Tracy (Maxwell) are both graduates of Ottumwa High School and are pleased that they have the opportunity to call Ottumwa home again. Todd and Tracy are the parents of Maxwell Ewing and Lane Robert.


            </p> 
            </div>

            
            </div>
            </div>
            
            </div>

            </div>


