<footer class="container" role="contentinfo">

<div class="container">
<address>
  <strong>Ottumwa Veterinary Clinic</strong><br>
  2305 North Court<br>
  Ottumwa, IA 52501<br>
  <abbr title="Phone">P:</abbr> (641) 682-2291
  <abbr title="Fax">F:</abbr> (641) 682-2291
</address>
<address>
  <strong>Email</strong><br>
  <a href="mailto:#">information@ottumwavet.com</a>
</address>
</div>
</footer>